name: Build

on:
  workflow_call:
    inputs:
      ref:
        description: Git commit to build.
        required: false
        type: string
      package_folder_artifact:
        description: "Whether to upload the Unity package folder artifact."
        required: false
        default: false
        type: boolean

jobs:
  build_unity_package:
    name: Build Unity package
    runs-on: ubuntu-22.04
    env:
      # These environment variables are defined by the `make github_env_vars`
      # command below, but are defined here to satisfy the linter.
      UNITY_SDK_UNITYPACKAGE: # Path to the .unitypackage file output by the build.
      UNITY_SDK_VERSION: # Embrace Unity SDK version to build.
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
        with:
          tool-cache: false
          android: false
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          lfs: true
          ref: ${{ inputs.ref }}
          persist-credentials: false
      - name: Get the package version
        run: |
          make github_env_vars | tee -a $GITHUB_ENV
      - name: Install Unity Hub
        run: |
          make install_hub
      - name: Install editor
        run: |
          make install_editor
      - name: Install .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '6.0.x'
      - name: Cache Library folder
        uses: actions/cache@v5
        with:
          path: ./UnityProjects/2021/Library
          key: Library-2021-Android
          restore-keys: |
            Library-2021-
            Library-
      - name: Build .unitypackage
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
          UNITY_SERIAL: ${{ secrets.UNITY_SERIAL }}
        run: |
          make build
      - name: Upload package folder artifact
        if: ${{ inputs.package_folder_artifact }}
        uses: actions/upload-artifact@v5
        with:
          name: io_embrace_sdk_${{ env.UNITY_SDK_VERSION }}
          path: io.embrace.sdk
          if-no-files-found: error
          retention-days: 1
      - name: Upload unitypackage artifact
        uses: actions/upload-artifact@v5
        with:
          name: EmbraceSDK_${{ env.UNITY_SDK_VERSION }}.unitypackage
          path: ${{ env.UNITY_SDK_UNITYPACKAGE }}
          if-no-files-found: error
          retention-days: 1
